<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<a target="_blank" href="https://github.com/vkhattar/floatout">Floatout </a>
	    </h4>
		<h5>	
			Crowdsourced photo sharing iOS Application written in Swift with Firebase being the backend. It features asynchronous image caching and loading of images which are hosted on google cloud. 
		</h5>
		<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<a target = "_blank" href="https://github.com/vkhattar/userInterface/tree/master/a3">Buggui!</a>
		</h4>
		<h5>	
			Created a car that can be directly manipulated by the user using scene graph and affine transformations. The user can rotate, make the axles longer and turn the tires, it uses an HTML 5 canvas and is written in Javascript, <a target = "_blank" href="https://buggui-43ea4.firebaseapp.com"> Check it out. </a>
		</h5>
    	<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<a target= "_blank" href="https://github.com/vkhattar/Trancepixel">Trancepixel</a>
		</h4>
		<h5>	
			It is a smart T-shirt that displays light patterns based on the body movements of the person. It is an ideal accessory for concert goers who love technology, art and design. It is made using Arduino based lilypad and can be controlled using an Android application using Bluetooth as the mode of communication. Here if you are interested in the <a target="_blank" href="https://github.com/vkhattar/TrancePixel_Arduino"> arduino bit </a> of the project as well.
		</h5>
		<h4>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<a href="#">To Beyond and Infinity</a>
		</h4>
    </div>
  </div>
</div>
</section>
